<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCP8UB0qZeU5Cvar5_SxaQ3PnpbHWt9lYU</string>
	<key>GCM_SENDER_ID</key>
	<string>888482800293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuumex.taskaty1</string>
	<key>PROJECT_ID</key>
	<string>pstt-taskaty</string>
	<key>STORAGE_BUCKET</key>
	<string>pstt-taskaty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888482800293:ios:10b609b63a20745b7b234c</string>
</dict>
</plist>